<!DOCTYPE html>
<html>
<head>
  <title>Labels Index</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  <link type="text/css" rel="stylesheet" href="style.css" />
</head>
<style>
    #titlething {
  color: #FFFFFF;
  font-size: 50px;
  text-align: center;
  border: 5px solid #FFFFFF;
  margin: 0;
  padding: 10px;
}
body{
background-image:linear-gradient(240DEG, #3B5998, #add8e6);
height:800px;
}

.container {
  max-width: 450px;
  margin: 0 auto;
  border-top: : 1px solid #FFFFFF;
  background-color: rgba(255, 255, 255, .2);
  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
  user-select: none;
  text-align: center;
}
#deleteall{
  width: 100;
  height: 30;
  background-image:linear-gradient(240DEG, #3B5998, #add8e6);
  color:white;
  font-size:18px;
  cursor:pointer;
  outline:none;
  margin-top: 15px;
  text-align: center;
}
#backbutton{
  width: 100;
  height: 30;
  background-image:linear-gradient(240DEG, #3B5998, #add8e6);
  color:white;
  font-size:18px;
  cursor:pointer;
  outline:none;
  margin-top: 15px;
  text-align: center;
}
</style>
<body>
<!--It's useful to put a comment at the top of your vtl file to help you keep track of what is what when things get more complex.-->
<div class="container">
<h1 id="titlething">$label</h1>
#if (!$todos.isEmpty())
<ul>
  #foreach( $todo in $todos )
  #set($labelId = $todo.labelId)
  #set($label = $labelDao.find($labelId))
  #set($labelName = $label.getName())
  #set($todoRoute = "/todos/" + $todo.id + "/edit")
  <li style="color:white;"><a href=$todoRoute>$todo.content</a> $labelName</li>
  #end
</ul>
#else
<p>Nothing to do!</p>
#end
<!--This bit is broken-->
<!--#if (!$todos.isEmpty())-->
<!--<form action="/todos/delete" method="POST">-->
<!--  <input type="Submit" value="Delete all" id="deleteall">-->
<!--</form>-->
<!--  #end-->
  <form action="/" method="GET">
    <input type="Submit" value="Back to ToDos" id="backbutton">
  </form>
</div>
</body>
</html>