<!DOCTYPE html>
<html>
<title>List of ToDos</title>
<head>
    <link type="text/css" rel="stylesheet" href="style.css" />
</head>
#if($user)
#set($username = $user.getName())
<span style="white-space:nowrap; overflow-x:auto;">
        <h3 class='sessions' style="display:inline-block; padding-left:1px; padding-right:5px">Signed in as $username</h3>
        <form action="/sessions/destroy" method="post" style="display:inline-block; padding-left:1px; padding-right:5px">
          <input type="submit" value="Sign out" />
        </form>
      </span>
#else
<span style="white-space:nowrap; overflow-x:auto;">
        <form class='sessions' name='sign-in' action='/sessions/new' method='GET' style="display:inline-block; padding-left:1px; padding-right:5px">
          <input type='submit' value='Sign in'>
        </form>
        <form class='sessions' name='sign-up' action='/users/new' method='GET' style="display:inline-block">
          <span style="font-style:italic">Don't have an account? </span><input type='submit' value='Sign up'>
        </form>
      </span>
#end
<div class="container">
    <div id="titlething">Welcome to your ToDo List!</div>
    <div class="items">

        #foreach( $todo in $todos )
        <input id="$todo.id" type="checkbox" checked>
        <label for="$todo.id">$todo.content</label>
        #end

        <h2 class="done" aria-hidden="true">Done</h2>
        <h2 class="undone" aria-hidden="true">Not Done</h2>
    </div>
</div>
<div class="buttons" id="buttons">
    <input type="submit" id="addbutton" value="Add"/>
    <input type="submit" id="complete" value="Complete"/>
    <input type="submit" id="findbylabelid" value="Find by Label ID"/>
</div>
</html>