.notices{
  color: #FF0000; !important
}
#titlething {
  color: #FFFFFF;
  font-size: 50px;
  text-align: center;
  border: 5px solid #FFFFFF;
  margin: 0;
  padding: 10px;
}
body{
background-image:linear-gradient(240DEG, #3B5998, #add8e6);
height:800px;
}
.buttons{
  text-align: center;
}
.container {
  max-width: 450px;
  margin: 0 auto;
  border-top: 1px solid #FFFFFF;
  background-color: rgba(255, 255, 255, .2);
  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
  user-select: none;
}
/* .bcontainer {
  max-width: 450px;
  margin: 0 auto;
  border-top: 1px solid #FFFFFF;
  background-color: rgba(255, 255, 255, .2);
  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
  user-select: none;
  align-self: flex-end;
} */
.items {
  display: flex;
  flex-direction: column;
  padding: 20px;
  counter-reset: done-items undone-items;
}

/* h2 {
  text-align: center;
  position: relative;
  margin: 0;
  padding: 10px 0;
  font-size: 1.2em;
} */
/*
h2::before {
  content: '';
  display: block;
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: -20px;
  width: 5px;
  background-color: #435757;
}

h2::after {
  display: block;
  float: right;
  font-weight: normal;
}
.done {
  order: 1;
}

.done::after {
  content: ' (' counter(done-items) ')';
}

.undone {
  order: 3;
}

.undone::after {
  content: ' (' counter(undone-items) ')';
} */
/*THIS IS THE BIT THAT IS DRIVING ME FUCKING MENTAL*/
/* hide inputs offscreen, but at the same vertical positions as the correpsonding labels, so that tabbing scrolls the viewport as expected */



input:checked {
  order: 2;
  counter-increment: done-items;
}

label {
  display: block;
  position: relative;
  padding: 15px 0 15px 45px;
  border-top: 2px solid #fff;
  border-top: 2px solid #fff;

  order: 4;
  cursor: pointer;
  animation: undone .5s;
}

label::before {
  content: '\f10c'; /* circle outline */
  display: block;
  position: absolute;
  top: 11px;
  left: 10px;
  font: 1.5em 'FontAwesome';
}

label:hover, input:focus + label {
  background-color: rgba(255, 255, 255, .2);
}

input:checked + label {
  order: 2;
  animation: done .5s;
}

input:checked + label::before {
  content: '\f058'; /* circle checkmark */
}
#add{
  display: flex;
  width: 450px;
  background-image:linear-gradient(240DEG, #3B5998, #add8e6);
  color: white;
  font-size:20px;
  cursor:pointer;
  outline: 1px solid #FFFFFF;
  justify-content: center;
  align-self: center;
  text-align: center;

}
#complete{
  width: 150px;
  height: 59px;
  background: #3B5998;
  color:white;
  font-size:18px;
  cursor:pointer;
  outline:none;
  margin-top: 15px;
}
#findbylid{
  width: 145px;
  height: 59px;
  background: #3B5998;
  color:white;
  font-size:18px;
  cursor:pointer;
  outline:none;
  margin-top: 15px;
}
