<html>
<head>
    <link type="text/css" rel="stylesheet" href="editstyle.css" />
</head>

<body>
<form action="/todos/$todo.id/edit" method="POST">
    <input class="form" id="newcontent" name="newcontent" placeholder="New task" type="text" value="New content" />
    <input id="task" name="task" type="submit" class="btn btn-default" value="Submit" />
</form>
</body>
</html>