<!DOCTYPE html>
<html>
  <title>List of ToDos</title>
  <head>
      <link type="text/css" rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>
  <body>
    #if($user)
      #set($username = $user.getName())
      <span style="white-space:nowrap; overflow-x:auto;">
        <h3 class='sessions' style="display:inline-block; padding-left:1px; padding-right:5px">Signed in as $username</h3>
        <form action="/sessions/destroy" method="post" style="display:inline-block; padding-left:1px; padding-right:5px">
          <input type="submit" value="Sign out" />
        </form>
      </span>
    #else
      <span style="white-space:nowrap; overflow-x:auto;">
        <form class='sessions' name='sign-in' action='/sessions/new' method='GET' style="display:inline-block; padding-left:1px; padding-right:5px">
          <input type='submit' value='Sign in'>
        </form>
        <form class='sessions' name='sign-up' action='/users/new' method='GET' style="display:inline-block">
          <span style="font-style:italic">Don't have an account? </span><input type='submit' value='Sign up'>
        </form>
      </span>
    #end
    <div class="container">
      <div id="titlething">Welcome to your ToDo List!</div>
        #if($user)
          <form action="/todos/new" method="GET">
            <input type="submit" id="add"  value="Add">
          </form>
          <form action="/labels/new" method="GET">
            <input type="submit" id="add" value="New Label">
          </form>
          <div class="items">
          #foreach( $todo in $todos )
            <div id="$todo.id">
              #set($labelRoute = "/labels/" + $todo.labelId + "/todos")
              #if ($todo.complete == true)
              <label style="text-decoration:line-through" for="$todo.id">$todo.content <a href=$labelRoute style="color: #00FF00">$labelDao.find($todo.labelId).name</a></label>
              #else
                <label for="$todo.id">$todo.content <a href=$labelRoute style="color: #00FF00">$labelDao.find($todo.labelId).name</a></label>
              #end
              <div class="contentbuttons">
                <form action="/todos/$todo.id/delete" method="POST" class="contentbuttons">
                  <button class = "delete" type="submit" id="$todo.id" style="background-image:linear-gradient(240DEG, #3B5998, #add8e6); color: white;   outline: 1px solid #FFFFFF;"> <i class = "material-icons" > delete </i> </button>
                </form>
                <form action="/todos/$todo.id/edit" method="GET" class="contentbuttons">
                  <button class ="edit" type="submit" id="$todo.id" value="Edit" style="background-image:linear-gradient(240DEG, #3B5998, #add8e6); color: white;   outline: 1px solid #FFFFFF;"><i class = "material-icons"> edit </i> </button>
                </form>
                <form action="/todos/$todo.id/complete" method="POST" class="contentbuttons">
                  #if ($todo.complete == false)
                  <button class = "complete " type="submit" id="$todo.id" value="Complete" style="background-image:linear-gradient(240DEG, #3B5998, #add8e6); color: white;   outline: 1px solid #FFFFFF;"><i class = "material-icons"> done_outline</i></button>
                  #else
                  <button class = "complete " type="submit" id="$todo.id" value="Complete" style="background-image:linear-gradient(240DEG, #3B5998, #add8e6); color: white;   outline: 1px solid #FFFFFF;"><i class = "material-icons"> undo</i></button>
                  #end
                </form>
                </div>
              #end
            </div>

          </div>

        #end
      </div>
  </body>
</html>
